body{
    background: orange;
}
h1{
    background: purple;
    color: pink;
    position: absolute;
    top: 45%;
    left: 20%;
    width: 20ch;

}
p{
    background: yellow;
}
button{
    color: blue;
}

#cta{
    background: red;
}

.green{
    color: green;
}

.purple{
    color:purple;
}

.bold{
    font-weight: bold;
}

.lermer{
    color: green;
}